@import '../../../styles/main.module.css';

.pageContainer {
  composes: webImageContainer from '../../../styles/main.module.css';
  background-image: url('../dist/images/surftronaut.jpg');
}

.displayContainer {
  composes: webDisplayContainer flexColumnContainer flexCenter from '../../../styles/main.module.css';
}
