@import '../../../styles/main.module.css';

.pageContainer {
  composes: webImageContainer from '../../../styles/main.module.css';
  background-image: url('../../assets/bgImages/background-one.jpeg');
}

.displayContainer {
  composes: webDisplayContainer flexColumnContainer flexCenter from '../../../styles/main.module.css';
}
