:root {
  font-family: 'Ubuntu Mono', Monaco, 'Courier New', Courier, monospace;
  line-height: 0.8;
  color: var(--primary-text);

/*******************************   font colors *******************************/
  --primary-text: #FAEF5D; /* bright yellow */
  --secondary-text: #FFF5E0; /* pale biege */
  --primary-text-shadow: #0174BE; /* vibrant red */
  --secondary-text-shadow: #015D98; /* pale blue */

/****************************   background colors ****************************/
  --primary-background: #FF004D; /* hot dark pink */
  --secondary-background: #22092C; /* dark purple */
  --accent-background: #1D2B53; /* beige blue */
  --extra-background: #000000; /* black */
  --transparent-background: #1D2B5399; /* blueish */
 
/******************************   border colors ******************************/
  --primary-border: #720455; /* hot purple */
}

* {
  min-width: 0px;
}

html {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  background-color: var(--primary-background);
}

/******************************** bakcgrounds ********************************/

.blurBackground {
  background-color: var(--transparent-background);
  backdrop-filter: blur(12px);
}

/******************************** font styles ********************************/
/* text-shadow: [horizontal offset] [vertical offset] [blur radius] [color]; */

.fontMain {
  font-style: italic;
  font-weight: 700;
  color: var(--secondary-text);
  margin: 0%;
}

.fontTitle {
  color: var(--primary-text);
  font-style: italic;
  font-weight: 900;
  text-shadow: -4px 4px var(--primary-text-shadow);
}

.fontSubTitle {
  color: var(--primary-text);
  font-weight: 900;
}

/**************************** margin and padding *****************************/
/************** padding/margin: [top] [right] [bottom] [left]; ***************/

.paddingSoft {
  padding: 0.5%;
}

.paddingMid {
  padding: 1%;
}

.paddingHard {
  padding: 2%;
}

.marginSoft {
  margin: 0.5%;
}

.marginMid {
  margin: 1%;
}

.marginHard {
  margin: 2%;
}

/******************************* border styles *******************************/
/*********** border: [border-width] [border-style] [border-color]; ***********/
/* box-shadow: [horizontal offset] [vertical offset] [blur radius] [spread radius] [color];*/

.borderModern {
  border-radius: 10px;
  border: 1px solid var(--primary-border);
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
}

.borderStark {
  border-radius: 0px;
  border: 1px solid var(--primary-border);
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
}

.borderNone {
  border-radius: 10px;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
}

/*********************************** flex ***********************************/
/********** justify-content: [main-axis] align-items: [cross-axis] **********/

.flexRowContainer {
  display: flex;
  flex-direction: row;
  gap: 1%;
}

.flexColumnContainer {
  display: flex;
  flex-direction: column;
  gap: 1%;
}

.flexCenter {
  justify-content: center;
  align-items: center;
}

.flexRowSpaceBetween {
  justify-content: space-between;
  align-items: center;
}

.flexColumnSpaceBetween {
  justify-content: center;
  align-items: space-between;
}

/******************************** containers ********************************/

.windowContainer {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

.pageContainer {
  box-sizing: border-box;
  width: 90%;
  height: 90%;
}

@media screen and (min-width: 0px) {
  .displayContainer {
    box-sizing: border-box;
    width: 98%;
    height: 98%;
  }
}

@media screen and (min-width: 325px) {
  .displayContainer {
    box-sizing: border-box;
    width: 90%;
    height: 90%;
  }
}

.contentContainer {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/***************************** fixed containers *****************************/

.fixedTopBar {
  box-sizing: border-box;
  position: fixed;
  z-index: 1000;
  overflow: hidden;
  top: 0;
  left: 50%;
  width: 96%;
  transform: translate(-50%, 0%);
}

.fixedBottomBar {
  box-sizing: border-box;
  position: fixed;
  z-index: 1000;
  overflow: hidden;
  bottom: 0;
  left: 0;
  width: 96%;
}


/**************************** composed containers ****************************/

.webSectionContainer {
  composes:
    windowContainer
    flexColumnContainer
    flexCenter;
}

.webImageContainer {
  composes:
    pageContainer
    flexRowContainer
    flexCenter
    marginHard
    paddingHard
    borderNone
}

.webDisplayContainer {
  composes:
    displayContainer
    paddingMid
    borderNone
    blurBackground;
}

.webTopNavBar {
  composes:
    fixedTopBar
    flexRowContainer
    flexRowSpaceBetween
    marginSoft
    paddingSoft
    borderNone
    blurBackground;
}
