:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-bg: #1D2B53;
  --primary-text: #FAEF5D;
  --primary-accent-color-1: #FF004D;
  --primary-accent-color-2: #7E2553;
  --primary-border-color: #FAEF5D;
  --secondary-bg: #22092C;
  --secondary-text: #F05941;
  --secondary-accent-color-1: #BE3144;
  --secondary-accent-color-2: #872341;
}

* {
  min-width: 0px;
}

html {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #FF004D;
  color: var(--primary-text);
  box-sizing: border-box;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/****************************** main/page container ******************************/
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageContainer {
  background-image: url('../dist/images/surftronaut.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 95vh;
  width: 90vw;
  max-width: 1186px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1rem;
}

/********************************** button **********************************/
.button {
  padding: 10px 20px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background-color 0.1s ease;
  margin: 1rem;
}

.primary {
  background-color: var(--primary-accent-color-2);
  color: var(--primary-text);
  font-weight: 800;
}

.primary:hover {
  background-color: var(--primary-accent-color-1);
  color: var(--primary-text);
  font-weight: 800;
}

.secondary {
  background-color: var(--secondary-accent-color-1);
  color: var(--primary-text);
  font-weight: 600;
}

.secondary:hover {
  background-color: var(--secondary-accent-color-2);
  color: var(--primary-text);
  font-weight: 600;
}
