@import '../../../styles/main.module.css';

.pageContainer {
  composes: webImageContainer from '../../../styles/main.module.css';
  background-image: url('../../assets/bgImages/background-three.jpeg');
}

.displayContainer {
  composes: webDisplayContainer flexRowContainer flexCenter from '../../../styles/main.module.css';
}
