@import '../../../../styles/main.module.css';

.asciiArtContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.asciiPre {
  color: var(--primary-text);
  font-size: 0.5rem;
  font-weight: 900;
  margin: 0px;
}
