.loadingMainContainer {
  box-sizing: border-box;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 0px) {
  .loadingImg {
    animation: rotateSurfStronaut 1.5s linear infinite;
    width: 300px;
  }
}

@media screen and (min-width: 700px) {
  .loadingImg {
    animation: rotateSurfStronaut 1.5s linear infinite;
    width: 500px;
  }
}

@keyframes rotateSurfStronaut {
  0%, 100% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(15deg);
  }
}

.loadingContent {
  color: var(--primary-text);
  font-style: italic;
  font-weight: 900;
  font-size: 3rem;
  text-shadow: -4px 4px var(--primary-text-shadow);
}
