@import '../../../styles/main.module.css';

.pageContainer {
  composes: pageContainer from '../../../styles/main.module.css';
  background-image: url('../../../dist/images/personalPageBG3.jpg');
  justify-content: center;
  align-items: center;
}

.displayContainer {
  composes: displayContainer from '../../../styles/main.module.css';
}
