.asciiImgContainer {
  margin: 1rem;
}

@media screen and (min-width: 0px) {
  .asciiPre {
    font-size: 3px;
    color: var(--primary-text);
    font-weight: 900;
  }
}

@media screen and (min-width: 700px) {
  .asciiPre {
    font-size: 5px;
  }
}
