.carouselImageContainer {
  background-color: var(--base-transparent);
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);
}

.carouselImage {
  max-width: 400px;
  max-height: 400px;
  image-orientation: from-image;
  border-radius: 4px;
}
