.carouselImageContainer {
  background-color: var(--base);
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 7px;
  border: 1px solid var(--gold);
  backdrop-filter: blur(8px);
}

.carouselFlexContainer {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media screen and (max-width: 450px) {
  .carouselFlexContainer {
    flex-direction: column;
  }
}

.carouselImage {
  max-width: 400px;
  max-height: 400px;
  image-orientation: from-image;
  border-radius: 4px;
}

.chevronCarouselContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}