@import '../../../styles/main.module.css';

.pageContainer {
  composes: webImageContainer from '../../../styles/main.module.css';
  background-image: url('../../assets/bgImages/background-four.jpeg');
}

.displayContainer {
  composes: webDisplayContainer from '../../../styles/main.module.css';
}

.footer {
  composes: fontMain marginMid from '../../../styles/main.module.css';
}
