.arcadeMenuMainContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.arcadeMenuTitleContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.menuTitle {
  width: 10vw;
  text-align: center;
}

.menuTitle:hover {
  cursor: pointer;
  text-shadow: 2px 0px 2px var(--love);
}

.activeMenu {
  text-shadow: 2px 0px 2px var(--love);
}

.scoresTitle {
  width: 10vw;
  text-align: center;
}

.scoresTitle:hover {
  cursor: pointer;
  text-shadow: 2px 0px 2px var(--love);
}

.menuItem {
  font-size: 2rem;
}

@media screen and (max-width: 600px) {
  .menuItem {
    font-size: 1.5rem;
  }
}

.gameLink {
  color: inherit;
  text-decoration: none;
}

.gameLink:hover {
  text-shadow: 2px 0px 2px var(--foam);
  cursor: pointer;
}

.highScoreText {
  font-size: 1.5em;
}

@media screen and (max-width: 600px) {
  .gameLink {
    font-size: 12px;
  }

  .highScoreText {
    font-size: 18px;
  }
}