.sectionXMainContainer {
  background-color: transparent;
  box-sizing: border-box;
  width: 100vw;
  height: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
