/* use grid for the main container */
/* use media queries to rearrange for mobile vs desktop */
.errorPageContainer {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
