@import '../../../styles/main.module.css';

.pageContainer {
  composes: webImageContainer from '../../../styles/main.module.css';
  background-image: url('../../../dist/images/personalPageBG2.jpg');
} 

.displayContainer {
  composes: webDisplayContainer from '../../../styles/main.module.css';
}
