.appContainer {
  box-sizing: border-box;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scrollbar-gutter: stable;
  overflow-y: auto;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
