@import '../../../../styles/main.module.css';


.menuContainer {
  composes: flexColumnContainer from '../../../../styles/main.module.css';
  height: 80%;
  width: 100%;
}

.titleContainer {
  composes: flexRowContainer from '../../../../styles/main.module.css';
  justify-content: space-evenly;
}

.menuTitle {
  composes: fontSubTitle from '../../../../styles/main.module.css';
  font-style: italic;
  font-size: 1.4rem;
}

.titleBtn {
  text-align: center;
  width: 50%;
}

.titleBtn:hover {
  text-shadow: -4px 4px var(--secondary-text-shadow);
  cursor: pointer;
}

.linkContainer {
  composes: fontMain padidngHard marginHard from '../../../../styles/main.module.css';
  cursor: pointer;
  font-size: 1.5rem;
  text-align: center;
}

.linkStyle {
  text-decoration: none;
  transition: backgorund-color 0.3s ease;
}

.linkStyle:hover {
  text-shadow: -4px 4px var(--secondary-text-shadow);
}

