@import '../../../styles/main.module.css';

.flexRowContainer {
  composes: flexRowContainer fixedNavTop from '../../../styles/main.module.css';
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-bg);
  width: 99vw;
  padding: 0px 1.5vw 0px 1.5vw;
  margin: 0.3vw 0.5vw;
  font-weight: 900;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-bottom: 0px;
  font-style: italic;
  font-size: 1.2rem;
}
